# eBay Kleinanzeigen analisys, a classifieds section of the German eBay website

The aim of this project is to clean the data and analyze the included used car listings.

The data dictionary provided with data is as follows:

<li>dateCrawled - When this ad was first crawled. All field-values are taken from this date.<p>
<li>name - Name of the car.<p>
<li>seller - Whether the seller is private or a dealer.<p>
<li>offerType - The type of listing<p>
<li>price - The price on the ad to sell the car.<p>
<li>abtest - Whether the listing is included in an A/B test.<p>
<li>vehicleType - The vehicle Type.<p>
<li>yearOfRegistration - The year in which which year the car was first registered.<p>
<li>gearbox - The transmission type.<p>
<li>powerPS - The power of the car in PS.<p>
<li>model - The car model name.<p>
<li>kilometer - How many kilometers the car has driven.<p>
<li>monthOfRegistration - The month in which which year the car was first registered.<p>
<li>fuelType - What type of fuel the car uses.<p>
<li>brand - The brand of the car.<p>
<li>notRepairedDamage - If the car has a damage which is not yet repaired.<p>
<li>dateCreated - The date on which the eBay listing was created.<p>
<li>nrOfPictures - The number of pictures in the ad.<p><p>
<li>postalCode - The postal code for the location of the vehicle.<p>
<li>lastSeenOnline - When the crawler saw this ad last online.<p>

In [22]:
import pandas as pd
import numpy as np
autos=pd.read_csv("autos.csv",encoding="Latin-1")

In [23]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [24]:
autos.head(),autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

(           dateCrawled                                               name  \
 0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
 1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
 2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
 3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
 4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...

    seller offerType   price   abtest vehicleType  yearOfRegistration  \
 0  privat   Angebot  $5,000  control         bus                2004
 1  privat   Angebot  $8,500  control   limousine                1997
 2  privat   Angebot  $8,990     test   limousine                2009
 3  privat   Angebot  $4,350  control  kleinwagen                2007
 4  privat   Angebot  $1,350     test       kombi                2003

      gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
 0    manuell      158  andere  150,000km                    3      lpg
 1  automatik      286     7er  150,000km                    6   benzin
 2    manuell      102    golf   70,000km                    7   benzin
 3  automatik       71  fortwo   70,000km                    6   benzin
 4    manuell        0   focus  150,000km                    7   benzin

         brand notRepairedDamage          dateCreated  nrOfPictures  \
 0     peugeot              nein  2016-03-26 00:00:00             0
 1         bmw              nein  2016-04-04 00:00:00             0
 2  volkswagen              nein  2016-03-26 00:00:00             0
 3       smart              nein  2016-03-12 00:00:00             0
 4        ford              nein  2016-04-01 00:00:00             0

    postalCode             lastSeen
 0       79588  2016-04-06 06:45:54
 1       71034  2016-04-06 14:45:08
 2       35394  2016-04-06 20:15:37
 3       33729  2016-03-15 03:16:28
 4       39218  2016-04-01 14:38:50  , None)

The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.
Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

In [25]:
autos.columns=['date_crawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'last_seen']

In [26]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'last_seen'],
      dtype='object')

In [27]:
autos.describe(include='all')

,date_crawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-05 16:57:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Lets delete special characters from value in "price","odometr_km" and convert them to numeric type

In [28]:
autos["price"]=autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [29]:
autos["price"].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [30]:
autos["odometer"]=autos["odometer"].str.replace("km","").str.replace(",",".").astype(float)
autos["odometer"].head()

0    150.0
1    150.0
2     70.0
3     70.0
4    150.0
Name: odometer, dtype: float64

In [31]:
autos.rename({"odometer":"odometer_km"},axis=1,inplace=True)

In [32]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer_km', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'last_seen'],
      dtype='object')

In [33]:
autos["odometer_km"].unique().shape

(13,)

In [34]:
autos["odometer_km"].unique()

array([150.,  70.,  50.,  80.,  10.,  30., 125.,  90.,  20.,  60.,   5.,
       100.,  40.])

In [35]:
autos["price"].unique().shape

(2357,)

In [36]:
autos["price"].unique()

array([ 5000,  8500,  8990, ...,   385, 22200, 16995])

In [37]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [39]:
autos["price"].value_counts(ascending=False).head(10)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
Name: price, dtype: int64

In [40]:
autos["odometer_km"].value_counts(ascending=True).head(10)

10.0     264
20.0     784
30.0     789
40.0     819
5.0      967
50.0    1027
60.0    1164
70.0    1230
80.0    1436
90.0    1757
Name: odometer_km, dtype: int64

In [41]:
autos["odometer_km"].describe()

count    50000.000000
mean       125.732700
std         40.042212
min          5.000000
25%        125.000000
50%        150.000000
75%        150.000000
max        150.000000
Name: odometer_km, dtype: float64

In [21]:
autos=autos[autos["price"].between (100,10000)]

Lets check a price of expencive car

In [42]:
autos.loc[autos["price"].between (9000,10000),"brand"]

46                  bmw
53                dacia
122               skoda
133       mercedes_benz
143       mercedes_benz
177                audi
287             citroen
350          volkswagen
383          volkswagen
453                jeep
552              nissan
574          volkswagen
642          volkswagen
651                ford
665          volkswagen
703          volkswagen
785       mercedes_benz
805       mercedes_benz
882                seat
890             hyundai
900       mercedes_benz
1053                bmw
1058               audi
1070         volkswagen
1099         volkswagen
1127             toyota
1148         volkswagen
1163         volkswagen
1248                bmw
1300      mercedes_benz
              ...
48870               bmw
48939              seat
48946    sonstige_autos
49010        volkswagen
49042     mercedes_benz
49046        volkswagen
49052     mercedes_benz
49147               bmw
49221          chrysler
49247              ford
49285              audi
49308     mercedes_benz
49309            nissan
49320              fiat
49336             mazda
49345              audi
49357        volkswagen
49444        volkswagen
49464               bmw
49604        land_rover
49694     mercedes_benz
49764            toyota
49792              fiat
49803              audi
49867        volkswagen
49899               bmw
49912              audi
49942              audi
49975             honda
49988               bmw
Name: brand, Length: 1413, dtype: object

In [43]:
autos[['date_crawled','ad_created','last_seen']].head()
autos['date_crawled'].str[:10]
autos['ad_created'].str[:10]
autos['last_seen'].str[:10]
autos[['date_crawled','ad_created','last_seen']].head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [44]:
autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index()
autos['ad_created'].value_counts(normalize=True, dropna=False).sort_index()
autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05 14:06:30    0.00002
2016-03-05 14:06:40    0.00002
2016-03-05 14:07:04    0.00002
2016-03-05 14:07:08    0.00002
2016-03-05 14:07:21    0.00002
2016-03-05 14:07:26    0.00002
2016-03-05 14:07:40    0.00002
2016-03-05 14:07:45    0.00002
2016-03-05 14:08:00    0.00004
2016-03-05 14:08:05    0.00004
2016-03-05 14:08:27    0.00002
2016-03-05 14:08:42    0.00002
2016-03-05 14:09:02    0.00004
2016-03-05 14:09:05    0.00002
2016-03-05 14:09:20    0.00002
2016-03-05 14:09:22    0.00002
2016-03-05 14:09:38    0.00002
2016-03-05 14:09:46    0.00002
2016-03-05 14:09:56    0.00002
2016-03-05 14:09:57    0.00002
2016-03-05 14:09:58    0.00004
2016-03-05 14:10:18    0.00002
2016-03-05 14:10:20    0.00002
2016-03-05 14:10:46    0.00002
2016-03-05 14:11:03    0.00002
2016-03-05 14:11:05    0.00002
2016-03-05 14:11:14    0.00002
2016-03-05 14:11:15    0.00002
2016-03-05 14:11:25    0.00002
2016-03-05 14:11:40    0.00002
                        ...
2016-04-07 10:36:19    0.00002
2016-04-07 10:36:21    0.00002
2016-04-07 10:36:24    0.00002
2016-04-07 10:36:25    0.00002
2016-04-07 10:36:35    0.00002
2016-04-07 10:36:36    0.00002
2016-04-07 10:36:37    0.00004
2016-04-07 11:06:33    0.00002
2016-04-07 11:36:19    0.00002
2016-04-07 11:36:23    0.00002
2016-04-07 11:36:24    0.00002
2016-04-07 11:36:25    0.00002
2016-04-07 11:36:34    0.00004
2016-04-07 11:36:35    0.00002
2016-04-07 12:06:19    0.00002
2016-04-07 12:06:23    0.00002
2016-04-07 12:25:34    0.00002
2016-04-07 12:25:35    0.00002
2016-04-07 13:06:18    0.00002
2016-04-07 13:25:39    0.00002
2016-04-07 13:36:19    0.00002
2016-04-07 13:36:20    0.00002
2016-04-07 13:36:37    0.00002
2016-04-07 13:36:38    0.00002
2016-04-07 14:07:04    0.00002
2016-04-07 14:30:09    0.00002
2016-04-07 14:30:26    0.00002
2016-04-07 14:36:44    0.00002
2016-04-07 14:36:55    0.00002
2016-04-07 14:36:56    0.00002
Name: date_crawled, Length: 48213, dtype: float64

In [25]:
autos["registration_year"].describe()

count    40165.000000
mean      2003.527723
std         77.528587
min       1000.000000
25%       1999.000000
50%       2002.000000
75%       2006.000000
max       9999.000000
Name: registration_year, dtype: float64

In [45]:
autos.loc[autos["registration_year"]>2018,"registration_year"].value_counts(normalize=True)

9999    0.190476
5000    0.190476
2019    0.142857
9000    0.095238
6200    0.047619
5911    0.047619
4500    0.047619
2800    0.047619
9996    0.047619
8888    0.047619
4100    0.047619
4800    0.047619
Name: registration_year, dtype: float64

In [46]:
autos.loc[autos["registration_year"]<1900,"registration_year"].value_counts(normalize=True)

1800    0.333333
1111    0.166667
1000    0.166667
1500    0.166667
1001    0.166667
Name: registration_year, dtype: float64

In [47]:
autos=autos[autos["registration_year"].between (1900,2018)]

In [48]:
autos["price"].value_counts(ascending=True).head()

33980    1
2895     1
846      1
8970     1
20790    1
Name: price, dtype: int64

In [49]:
autos["price"].describe()

count    4.997300e+04
mean     9.842488e+03
std      4.812343e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

Lets explore the unique values in the brand column

In [50]:
brand_agg={}

In [51]:
autos["brand"].describe()

count          49973
unique            40
top       volkswagen
freq           10682
Name: brand, dtype: object

In [52]:
autos["brand"].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [53]:
recearch=autos["brand"].unique()
print(recearch)

['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']

In [54]:
for i in recearch:
    a=autos.loc[autos["brand"]==i,"price"].sum()
    brand_agg[i]=a/autos["brand"].value_counts()[i]
brand_mean_prices=pd.Series(brand_agg)

In [55]:
brand_mean_prices.head()

alfa_romeo    3951.926829
audi          8965.560355
bmw           8254.439388
chevrolet     6432.929329
chrysler      3286.055249
dtype: float64

In [56]:
df = pd.DataFrame(brand_mean_prices, columns=['mean_prices'])
df.head()

            mean_prices
alfa_romeo  3951.926829
audi        8965.560355
bmw         8254.439388
chevrolet   6432.929329
chrysler    3286.055249

In [57]:
mileage={}
recearch=autos["brand"].unique()
for i in recearch:
    a=autos.loc[autos["brand"]==i,"odometer_km"].sum()
    mileage[i]=a/autos["brand"].value_counts()[i]
mean_mileage=pd.Series(mileage)
mean_mileage.head()

alfa_romeo    131.051829
audi          129.643941
bmw           132.544215
chevrolet      99.522968
chrysler      133.149171
dtype: float64

In [58]:
df["odometer_km"]=mean_mileage

In [59]:
df.head()

            mean_prices  odometer_km
alfa_romeo  3951.926829   131.051829
audi        8965.560355   129.643941
bmw         8254.439388   132.544215
chevrolet   6432.929329    99.522968
chrysler    3286.055249   133.149171

Identify categorical data that uses german words, translate them and map the values to their english counterparts

In [60]:
autos["vehicleType"].unique()

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'coupe', 'suv',
       'cabrio', 'andere'], dtype=object)

In [61]:
autos["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

Let's replace german's word

In [62]:
dict={"bus":"bus","limousine":"limousine","kleinwagen":"small car","kombi":"station vagon","coupe":"coupe","suv":"suv","cabrio":"cabrio","andere":"other"}

In [63]:
autos["vehicleType"].map(dict)

0                  bus
1            limousine
2            limousine
3            small car
4        station vagon
5                  bus
6            limousine
7            limousine
8                  NaN
9                  bus
10                 NaN
11                 NaN
12           small car
13           limousine
14           small car
15               coupe
16       station vagon
17               coupe
18                 bus
19                 suv
20       station vagon
21              cabrio
22              cabrio
23                 bus
24           limousine
25       station vagon
26           small car
27                 NaN
28           small car
29       station vagon
             ...
49970              bus
49971        small car
49972              bus
49973           cabrio
49974           cabrio
49975        small car
49976    station vagon
49977        limousine
49978        limousine
49979        small car
49980    station vagon
49981    station vagon
49982        small car
49983        small car
49984              NaN
49985              NaN
49986        limousine
49987        limousine
49988            coupe
49989        small car
49990        limousine
49991              NaN
49992        small car
49993        small car
49994    station vagon
49995        limousine
49996           cabrio
49997           cabrio
49998    station vagon
49999        limousine
Name: vehicleType, Length: 49973, dtype: object